<?xml version="1.0"?>
<config>
    <modules>
        <CacheObserver>
            <version>0.0.1</version>
        </CacheObserver>
    </modules>
    <global>
        <helpers>
            <cacheobserver>
                <!-- Helper definition needed by Magento -->
                <class>Mage_Core_Helper</class>
            </cacheobserver>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_after><!-- observe the event -->
                <observers>
                    <cache_observer>
                        <class>CacheObserver_Model_Observer</class>
                        <method>reload</method>
                    </cache_observer>
                </observers>
            </catalog_product_save_after>
            <category_move>
                <observers>
                    <cache_observer>
                        <class>CacheObserver_Model_Observer</class>
                        <method>reloadCat</method>
                    </cache_observer>
                </observers>
            </category_move>
            <catalog_category_save_after>
                <observers>
                    <cache_observer>
                        <class>CacheObserver_Model_Observer</class>
                        <method>reloadCat</method>
                    </cache_observer>
                </observers>
            </catalog_category_save_after>
        </events>
    </adminhtml>
</config>